body {
    margin: auto;
    max-width: 45em;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #E8F5E9
}

table {
    width: 80%;
}

table, td, th {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.input-box {
    margin: auto;
    max-width: 45em; 
    box-sizing: border-box; 
    padding: 5px; 
    margin-bottom: 10px;
}