{% extends "layout.html" %}
{% block content %}

{% if selected_budget %}

<h2>List of transactions</h2>

<b>Selected budget:</b> {{ selected_budget.name }}<br>

<b>Selected category:</b> {{ category }}<br>

{% endif %}

<form action="/profile/mybudgets/searchtransactions/category" method="GET">
<p><table class="table-sm table-borderless">
    <thead class="thead">
      <tr>
          <th scope="col">Income</th>
          <th scope="col">Income category</th>
          <th scope="col">Expense</th>
          <th scope="col">Expense category</th>
          <th scope="col">Message</th>
      </tr>
    </thead>
  
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.income }}</td>
        <td>{{ transaction.income_category }}</td>
        <td>{{ transaction.expense }}</td>
        <td>{{ transaction.expense_category }}</td>
        <td>{{ transaction.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table></p>
</form>

<form class="form-inline" action="/profile/mybudgets" method="GET">
  <div class="text-left mt-1">
    <button type="submit" class="btn btn-secondary">Return to your page</button>
  </div>
</form>

{% endblock %}