{% extends "layout.html" %}
{% block content %}

<h2>List of transactions for selected category</h2>

<form action="/categorylisting" method="GET">
<p><table class="table-sm table-borderless">
    <thead class="thead">
      <tr>
          <th scope="col">Income</th>
          <th scope="col">Income category</th>
          <th scope="col">Expense</th>
          <th scope="col">Expense category</th>
          <th scope="col">Message</th>
      </tr>
    </thead>
  
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.income }}</td>
        <td>{{ transaction.income_category }}</td>
        <td>{{ transaction.expense }}</td>
        <td>{{ transaction.expense_category }}</td>
        <td>{{ transaction.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table></p>
</form>

{% endblock %}