{% extends "layout.html" %}
{% block content %}

<p>Welcome to SpendManager, your personal budgeting tool!</p>
<p>This application is a good solution for individuals and groups. <br> 
Use it for monthly income and expense analysis or create a budget for your holiday group and follow your spend.</p> 

<p><strong>This application provides functionalities to help you in budgeting, for example, you can easily:</strong></p>
<ul>
    <li>create your own budgets
    <li>add income & expense transactions by categories
    <li>search transactions by category & word
</ul>

<p>To log in, please fill your Username and Password in below boxes and press <strong>"Log in".</strong></p>

<form action="/login" method="POST">
    <p> <strong> Username: </strong> <br> 
    <input type="text" name="username" id="username" size="30"></p>
    <p> <strong> Password : </strong> <br> 
    <input type="password" name= "password1" id="password1" size="30"></p>

    <input type="submit" value="Log in">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<p>Don't have an user account yet? No problem!</p> 
<p>You can easily create a new user by clicking the <strong>"Register a new user" </strong>button and following the instructions.</p>

<form action="/register" method="GET">
    <input type="submit" value="Register a new user">
</form>

<p><strong>Why should I start using SpendManager?</strong></p>
<ul>
    <li>application is free of charge
    <li>bugeting made simple
    <li>personal savings for the future
    <li>better visibility on your financials
    <li>much more - register now and try!
</ul>

{% endblock %}