{% extends "layout.html" %}
{% block content %}

<h2>Your personal page</h2>

{% if session.user_username %}
<p> You are logged in with a username <strong>{{ session.user_username }}</strong>. Welcome to your personal page!</p>
{% endif %}

{% if session.role %}
<p>Your role is     
  <strong>
  {% if session.role == 2 %}
  Admin user
  {% else %}
  Regular user
  {% endif %}
  </strong> 
</p>

<p>In this page you can create your own budget, select to see your own budgets and after selection make changes or even delete them if you are admin user. 
    Admin users can also see a list of all users.</p>

<form action="/budget" method="GET">
  <div class="form-group col-4 mt-3">
    <button type="submit" class="btn btn-secondary">Create a new budget</button>
  </div>
</form>

<p>Click <strong>"See all budgets"</strong> to select which budget to add transactions or see net result.</p>
<form action="/mybudgets" method="GET">
  <div class="form-group col-4 mt-3">
    <button type="submit" class="btn btn-secondary">See all budgets</button>
  </div>
</form>

<p>To return to the front page, press <strong>"Log out"</strong> button.</p>
<form action="/logout" method="GET">
  <div class="form-group col-4 mt-3">
    <button type="submit" class="btn btn-secondary">Log out</button>
  </div>
</form>

<p>Click <strong>"Admin page"</strong> to see all of the users and their roles or to delete existing budget.</p>
<form action="/admin" method="GET">
  <div class="form-group col-4 mt-3">
    <button type="submit" class="btn btn-info">Admin page</button>
  </div>
</form>

<form>
<p>{% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
          <strong><div class="alert alert-{{ message[1] }}">{{ message }}</div></strong>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </p>
</form>

{% endif %}

{% endblock %}