{% extends "layout.html" %}
{% block content %}

<h2>Your Budgets</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="alert alert-{{ message[1] }}"><b>{{ message }}</b></div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

Select in which budget you want to add income or expense transactions and click <b>"Add transactions"</b>.
<form class="form-inline" action="/profile/mybudgets/addtransactions" method="GET">

  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
        {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Add transactions</button>
  </div>
</form><br>

If you want to calculate the net result of certain budget, click below.
<form class="form-inline" action="/profile/mybudgets/netresult" method="POST">
  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
      {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Calculate net result</button>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form><br>

If you want to search transactions of certain budget, click below.

<form class="form-inline" action="/profile/mybudgets/searchtransactions" method="POST">
  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
      {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Search transactions</button>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form><br>

Or return to your personal page.
<form class="form-inline" action="/profile" method="GET">
  <div class="text-left mt-1">
    <button type="submit" class="btn btn-secondary">Return to your page</button>
  </div>
</form>

{% endblock %}