{% extends "layout.html" %}
{% block content %}

<h2>Your Budgets</h2>

Select in which budget you want to add income or expense transactions and click <b>"Add transactions"</b>.

<form class="form-inline" action="/transactions" method="GET">
  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
        {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Add transactions</button>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form><br>

If you want to calculate the net result of certain budget, click below.
<form class="form-inline" action="/netresult" method="POST">
  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
      {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Calculate net result</button>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form><br>

If you want to search transactions of certain budget, click below.
<form class="form-inline" action="/usersearch" method="POST">
  <div class="wrap-input">
    <label for="budgetSelect"></label>
    <select class="form-control" name="budget_id" id="budgetSelect">
      {% for budget in budgets %}
        <option value="{{ budget.id }}">{{ budget.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary mt-1">Search transactions</button>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form><br>

Or return to your personal page.
<form class="form-inline" action="/login" method="GET">
  <div class="text-left mt-1">
    <button type="submit" class="btn btn-secondary">Return to your page</button>
  </div>
</form>

{% endblock %}