{% extends "layout.html" %}
{% block content %}

<h2>Your Budgets</h2>

<p>Select in which budget you want to add income or expense transactions and click <strong>"Add transactions".</strong></p>
<form action="/transactions" method="GET">
  <label for="budgetSelect">Select a budget:</label>
  <select name="budget_id" id="budgetSelect">
    {% for budget in budgets %}
      <option value="{{ budget.id }}">{{ budget.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Add transactions">
</form>

<p>Or return to your personal page.</p>
<a href="/login"><input type="submit" value="Return to your personal page"></a>

{% endblock %}