{% extends "layout.html" %}
{% block content %}

<h2>Create a new budget</h2>

<p>In this page you can add a new budget and give unique name to it.</p>
<p>Please note you can create up to 5 budgets.</p>

<form action="/profile/newbudget" method="POST">
  <div class="form-group col-4">
    <div class="row g-3 align-items-center">
      <b>Name of the budget:</b>
      <input type="text" class="form-control" name="name" id="name" minlength="1" maxlength="25" placeholder="1-25 characters" required>
    </div>
  </div>

  <div class="text-left">
    <button type="submit" class="btn btn-secondary">Create a new budget</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </div>
</form>

<form action="/profile" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-secondary mt-2">Return to your page</button>
  </div>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="alert alert-{{ message[1] }}"><b>{{ message }}</b></div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}