{% extends "layout.html" %}
{% block content %}

{% if session.user_username %}
<h2>Your personal page - {{ session.user_username }} </h2>
{% endif %}

<p>Welcome to your personal page!</p>

{% if session.role %}
<p>Your role is     
  <b>
  {% if session.role == 2 %}
  Admin user
  {% else %}
  Regular user
  {% endif %}
  </b> 
</p>

<p>In this page you can navigate to:
  <ul>
    <li>creating up to 5 personal budgets
    <li>your budgets view
    <li>admin user view if you have the rights
</ul>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="alert alert-{{ message[1] }}"><b>{{ message }}</b></div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  
<form action="/profile/newbudget" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-secondary">Create a new budget</button>
  </div>
</form><br>

<p>In My budgets view you can select in which budget to add transactions, see net result or search transactions.</p>
<form action="/profile/mybudgets" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-secondary">My budgets</button>
  </div>
</form><br>

{% if session.role == 2 %}
<p>Admin users can see all of the users, roles and delete existing budgets.</p>
<form action="/profile/admin" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-info">Admin page</button>
  </div>
</form><br>
{% endif %}

<p>Or if you wish to log out, see you soon!</p>
<form action="/logout" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-secondary">Log out</button>
  </div>
</form><br>

{% endif %}

{% endblock %}