{% extends "layout.html" %}
{% block content %}

<h2>Registration page</h2>

<p><b>Great choice!</b><br></p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="alert alert-{{ message[1] }}"><b>{{ message }}</b></div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

You are a few steps away from having a personal account and beginning the journey of budgeting!<br>
Please fill in the details below to create a new user account.<br>

<form action="/register" method="POST">
  <div class="form-group col-4 mt-2">
    <div class="row g-3 align-items-center">
      
      <b>Username:</b>
      <input type="text" name="username" id="username" minlength="1" maxlength="25" class="form-control" placeholder="1-25 characters" required>
      
      <b> Password:</b>
      <input type="password" name="password1" id="password1" minlength="5" maxlength="25" class="form-control" placeholder="5-25 characters" required>

      <b> Repeat password:</b><br>
      <input type="password" name="password2" id="password2" minlength="5" maxlength="25" class="form-control" placeholder="5-25 characters" required>
      
      <b> User role:</b>
      <select class="form-control" name="role">
        <option value=1> Regular user
        <option value=2> Admin
      </select>
    </div>
  </div>

<p>Once you have filled in the details, click <b>"Confirm registration"</b>.</p>
<p>After confirmation, you can click <b>"Go back to front page"</b> button and you will be routed to the front page.</p>
<p>From the front page you can log in to your account and start using SpendManager!</p>
  <div class="text-left">
    <button type="submit" class="btn btn-secondary">Confirm registration</button>     
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </div>
</form> 

<form class="form-inline" action="/" method="GET">
  <div class="text-left">
    <button type="submit" class="btn btn-secondary mt-3">Go to front page</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </div>
</form>

{% endblock %}