{% extends "layout.html" %}
{% block content %}

{% if selected_budget %}

<h2>Search transactions - {{ selected_budget.name }} budget</h2>

{% endif %}

<p>In this page you can search transactions based on income or expense category.</p>

<p>The dropdown menu shows only those categories you have used in your budget.
<br>If there is no categories shown, you need to first add transactions.</p>

<p>
<form class="form-inline" action="/profile/mybudgets/searchtransactions/category" method="GET">
  <div class="wrap-input">
    <label for="categorySelect"></label>
    <select class="form-control" name="category" id="categorySelect" required>

      <optgroup label="Income Categories">
        {% for category in income_category %}
          <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
      </optgroup>

      <optgroup label="Expense Categories">
        {% for category in expense_category %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %} 
      </optgroup>
    </select>

    <button type="submit" class="btn btn-secondary mt-1">Search</button>
  </div>
</form>
</p>

<form class="form-inline" action="/profile/mybudgets" method="GET">
  <div class="text-left mt-1">
    <button type="submit" class="btn btn-secondary">Return to your budgets</button>
  </div>
</form>

{% endblock %}