{% extends "layout.html" %}
{% block content %}

{% if selected_budget %}

<h2>Add transactions - {{ selected_budget.name }} budget</h2>

{% endif %}

<p>Below you can add transactions to your selected budget.</p>
<p>You don't need to add any + or - signs when inserting income or expense transactions.</p>
<p>Once ready, click <b>"Add transaction"</b>.</p>

<form action="/transactions/{{ budget_id }}" method="POST">
  <div class="form-group col-4 mt-3">
    <div class="row g-3 align-items-center">
      <input type="hidden" name="budget_id" value="{{ budget_id }}">

      <b>Income</b><br>
      <input type="number" name="income" id="income" class="form-control">

      <b>Income category</b>
      <select class="form-control" name="income_category" id="income_category">
      <option value="" > 
      <option value="salary"> salary
      <option value="study grant"> study grant
      <option value="miscellanous_inc"> miscellanous income
      </select>
    </div>
  </div>

  <div class="form-group col-md-4">
    <div class="row g-3 align-items-center">
      <b>Expense:</b><br>
      <input type="number" name="expense" id="expense" class="form-control"><br>
  
      <b>Expense category</b><br>
      <select class="form-control" name="expense_category" id="expense_category">
      <option value="" > 
      <option value="rent"> rent
      <option value="mortgage"> mortgage
      <option value="travel"> travel
      <option value="groceries"> groceries
      <option value="food"> food 
      <option value="miscellanous_exp"> miscellanous expense
      </select>
    </div>
  </div>

  <div class="form-group col-md-4">
    <div class="row g-3 align-items-center">
      <b>Message:</b><br>
      <input type="text" name="message" id="message" class="form-control"><br>
    </div>
  </div>
  <div class="text-left">
    <button type="submit" class="btn btn-secondary">Add transaction</button>  
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </div>
</form>
  
    <p>{% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <b><div class="alert alert-{{ message[1] }}">{{ message }}</div></b>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    </p>
  </form>

<form class="form-inline" action="/mybudgets" method="GET">
  <div class="text-left mt-1">
    <button type="submit" class="btn btn-secondary">Return to my budgets</button>
  </div>
</form>

{% endblock %}